<footer class="site-footer">
  {{- $footer := site.Params.footer | default dict -}}
  {{- $icp := $footer.icp | default "" -}}
  {{- $icpURL := $footer.icp_url | default "https://beian.miit.gov.cn/" -}}
  {{- $copyFrom := $footer.copyright_from | default 2024 -}}
  {{- $copyName := $footer.copyright_name | default site.Title -}}
  {{- $birthDate := $footer.birth_date | default $footer.uptime_start | default site.Params.stats.start_date -}}
  {{- $lifeText := $footer.life_text | default "我来到这个世界已经" -}}

  {{- if $icp -}}
  <p class="site-footer__line site-footer__icp">
    <a class="site-footer__icp-link" href="{{ $icpURL }}" target="_blank" rel="noopener noreferrer">{{ $icp }}</a>
  </p>
  {{- end -}}

  <p class="site-footer__line site-footer__copy">
    Copyright © {{ $copyFrom }} - {{ now.Year }} {{ $copyName }}
  </p>

  {{- if $birthDate -}}
  <p
    class="site-footer__line site-footer__uptime"
    id="site-uptime"
    data-start="{{ (time $birthDate).UnixMilli }}"
  >
    {{ $lifeText }}
    <span class="site-footer__num" data-uptime-days>0</span>天
    <span class="site-footer__num" data-uptime-hours>0</span>小时
    <span class="site-footer__num" data-uptime-minutes>0</span>分钟
    <span class="site-footer__num" data-uptime-seconds>0</span>秒
  </p>
  {{- end -}}
</footer>
